@themeColor: #1FBF99;

body {
	min-width: 320px;
    min-height: 100vh;
    line-height: 1.0;
    word-wrap: break-word;
    overflow-x: hidden;
    background-color: #F7F7F7;
}

h1, h2, h3, p {
    color: rgba(0, 0, 0, 0.42);
    font-family: 'Roboto', 'sans-serif';
    letter-spacing: -0.025rem;
    width: 100%;
    font-size: 2em;
    line-height: 1.625;
    font-weight: 400;
    text-align: justify;
}

h2 {
    color: @themeColor;
    letter-spacing: -0.05rem;
    font-size: 1.25em;
    line-height: 1.375;
    font-weight: 500;
    text-align: inherit;
}
